

  <footer>
       
        <div class="footer">
            <div class="blue-background">
            <div class="container">
            <div class="row">
               
                <div class="col-md-3 col-sm-12 col-xs-12">
                   <div class="map">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3383.8151125847858!2d35.870220814515335!3d31.993027130852372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ca102cbe2787f%3A0xbdd6f87e40fa5da2!2sFikra%20for%20business%20development!5e0!3m2!1sen!2sjo!4v1572410446821!5m2!1sen!2sjo" width="200" height="150" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                   </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-contact">
                  {{page.about_us}}
                    </div>
                    
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="footer-links">
                 {{page.footer_links}}
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                
                    <div class="contact">
                      {{page.footer_contact}}
                        <div class="search">
                                    <input type="text" class="form-control" placeholder="Search entier Store here">
                                    <button class="search-btn">
                                        <i class="fa fa-search" style="font-size:40px"></i>
                                    </button>
                                </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>