

<body>
    <div class="header-background">
        <div class="header">
            <div class="row">
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="contact-info">
                       {{page.contact}}
                    </div>
                    <!--end of contact information-->
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="image-logo">
                        <center>
                            <img src="themes/KCORP/assets/image/Logo.png" class="image-responsive">
                        </center>
                    </div><!-- end of logo -->
                </div>
                <!--end of col-->
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="social-media">
                      
                   {{page.social_icons}}
                    </div><!-- end of social-media-->
                </div>
                <!--end of col-->
            </div><!-- end of row-->
            <div class="main-nav">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                         {{page.main_navbar}}
                            <li>
                                <div class="search">
                                    <input type="text" class="form-control" placeholder="Search entier Store here">
                                    <button class="search-btn">
                                        <i class="fa fa-search" style="font-size:40px"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--end of header-->
    </div>
    <!--end of header-background-->