{% include directory ~ '/header.html.twig' %}

    <section>
    {{page.slider}}
    </section>
    <section>
        <div class="Kcrop-introduction">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="Kcrop-content">
                               {{page.kcoprp}}
                        </div>
                        <div class="know-more-btn">
                            <button class="btn btn-primary">KNOW MORE</button>
                        </div>
                    </div>
                    <!--END OF COL-->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="Kcrop-introdution-image">
                            <img src="themes/KCORP/assets/image/WELCOME-KCorp.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--end of crop introduction-->
    </section>
    <!--end of crop-introduction section-->
    <section>
        <div class="kcrop-services">
            {{page.qualification_title}}
            <div class="services-section">
                <div class="container">
                {{page.kcorp_qualfication}}
            </div>
        </div>
        </div>
    </section>
    <!--end of KCORP INTRODUCTION-->
    <section>
        <div class="kcorp-products">
            <div class="kcrop-products-header">
              {{page.service_products_title}}
                
            </div>

            
                {{page.service}}
            </div>
    
    </section>
    <!--end of kcorp product section-->
    <section>
        <div class="kcorp-aniversary">
        </div>
    </section>
    <section>
        <div class="contact-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 cols-sm-6 col-xs-12">
                        <div class="text">
                            <h2>DO YOU HAVE ANY Questions?</h2>
                            <h2>FEEL FREE TO CONTACT US</h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="name">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" placeholder="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="message" placeholder="message">
                            <button type="submit" class="btns mb-2" style="padding: 10px;">Submit</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end of contact form-->
    <section>
        <div class="container">
            <div class="sector-service">
                <div class="sector-service-header">
                    {{page.service_sector}}
                    <center>
                        <button class="btn btn-primary">READ MORE</button>
                    </center>
                </div>
            </div>
                <div class="industrial">
          {{page.service_sector_items}}
                </div>
        </div>
    </section>
    <!--end of of industrial sector-->
    <section>
        <div class="counter">
            <div class="container">
                {{page.counter}}
               
            </div>
        </div>
    </section>
    <!--end of counter-->
    <section>
        <div class="customer-reviews">
            <div class="container">
                <div class="customer-reviews-header">
                  {{page.customer_review}}
                </div>

                <div class="customer-reviews-items">
                   {{page.item}}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="service">
            <img src="themes/KCORP/assets/image/WE-OFFER.png" class="img-responsive">
            <div class="service-texts">
                <h2>WE OFFER AN EXCELENT AFTER SERVICE</h2>
            </div>
            <div class="service-btn">
                <button class="btn btn-primary">OUR SERVICE</button>
                <button class="btn btn-primary">CONTACT US</button>
            </div>
        </div>
    </section>
    <!--end of service-->
    <div class="news-events">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="news-events-section">
                        <h2>NEWS &amp; EVENTS</h2>
                        <div class="event-images">
                                    <div class="event-image">
                                        {{page.newsandevents}}

                                    </div>
                        </div>

                        </div>
                    </div>
                       <div class="col-md-6 col-sm-6 col-xs-12">
                            {{page.newsandeventsitems}}
                </div>
                
             
            </div>
    </div>
       {% include directory ~ '/footer.html.twig' %}

    <div class="copyrght">
        <p>Copright@Fikra All rights reserved</p>
    </div>
    <script type="text/javascript">
        $(".num").counterUp({
            delay: 10,
            time: 3000
        });
    </script>
