{% include directory ~ '/header.html.twig' %}
<div id="main-content">
    <div class="container">
        <div class="row">
          {% if page.sidebar_services %}
           
            <div class="content-area col-md-9">
                <section id="content">
                    <div id="content-wrap">
                        {{page.content}}
                    </div>
                </section>
            </div>
            <aside id="sidebar" class="col-md-3">
                {{page.sidebar_services}}
            </aside>
            {{% else %}}
            <div class="content-area col-md-12">
                <section id="content">
                    <div id="content-wrap">
                        {{page.content}}
                      
                    </div>
                </section>
            </div>
            {% endif %}
        </div>
    </div>
</div>
             {% include directory ~ '/footer.html.twig' %}