body {
    padding: 0;
    margin: 0;
    font-family: "Monotype Corsiva"sans-serif;
}

.header-background {
    background-image: url("../image/header-cover.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.field-content
{
text-align:center;
}

.header {
    width: 99%;
    padding-top: 30px;
}
#block-kcorp-content
{
    padding: 20px;
}
#block-kcorp-content p
{
    text-align: left;
}

.contact-info {
    margin-left: 20px;
}

.contact-info i {
    color: #717275;
    display: inline-block;
    font-size: 25px;
}

.contact-info p {
    display: inline-block;
    padding-left: 2px;
    font-size: 16px;
}

.contact-info ul {
    list-style-type: none;
}

.contact-info ul li {
    text-decoration: none;
}
.rbtn
{
    position: relative;
    bottom: 25px;
    left: 75px;
}
#block-contactus-menu {
    font-size: 12px;
    display: inline-block;
}

.contact-info ul li a {
    pointer-events: none;
    color: gray;
    cursor: none;
    text-decoration: none;
    font-size: 10px;

}

.image-logo {
    width: 99%;
}

.social-media p {
    display: inline-block;
}

.social-media ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.social-media ul li {
    display: inline-block;
    padding: 5px;

}
.social-media ul li  {
    width: 30px;
    border: 1px solid #004a6b;
    text-align: center;
    height: 35px;
    background-color: #004a6b;
    border-radius: 50%;
    font-size: 15px;
}
.svg
{
    font-size: 40px;
}
.social-media ul li a
{
    color: #fff;
}

#block-mainnavigation ul li{
    margin-top: 40px;
    display: inline-block;
    padding: 25px;
}

#block-mainnavigation ul li a {
    color: #717275;
    text-decoration: none;
}

#block-mainnavigation a::before
{
    content: '';
    display:block;
    width: 0%;
    height: 3px; 
    transition: width .3s;
background-color:  #074663; 
    margin-bottom: 10px;  
}
#block-mainnavigation a:hover::before
{
    width: 100%;
    transition: width .5s;
    
}
.search {
      padding-top: 70px;
    width: 350px;
    display: inline-flex;
}

.search input {
    color: #898a8c;
    border-left: none;
    background-color: #dcddde;
}

.search-btn {
    display: inline-flex;
    border: 1px solid #213c76;
    background-color: #213c76;
       border-radius: 13%;
    width: 60px;
}

.fa-search {
    padding: 8px;
    color: white;
}
.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 50px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.slider {
    position: relative;
}

.slider img {
    width: 100%;
    height: auto;
}
.flexslider .slides img {
    height: 600px;
}
.flex-direction-nav a:before {
    color: rgba(225, 225, 225, 0.9);
}

.kcrop-services
{
    padding-top: 25px;
}
.slider-text {
    background: rgb(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.slider-text h2 {
    font-size: 40px;
    padding-top: 120px;
    color: #fff;
    text-align: center;
}

.slider-content {
    position: absolute;
    width: 100%;
    top: 180px;
    right: 0px;
    text-align: center;
    color: #fff;
}
.slider_btn 
{
   padding-top: 40px;
}
.slider-content p {
    font-size: 25px;
    color: #fff;
}
.slider-content a
{
    padding: 10px;
    margin: 25px;
    border-radius: 10px;
    background-color: #005495;
    color: white; 
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 8px;
    text-align: center;
}
.Kcrop-introduction {
    margin-top: 50px;
}

.Kcrop-content span {
    padding-left: 20px;
    color: #005495;
}

.Kcrop-content p {
    color: #636466;
    font-size: 15px;
    text-align: left;
}

.Kcrop-introdution-image img {
    width: 100%;
    height: auto;
}

.kcrop-services {
    background-color: #f2f7fa;
}

.kcrop-services h2 {
    text-align: center;
}

.circle {
       width: 7.1em;
    height: 7.1em;
    border-radius: 50%;
    border: 6px solid #578fba;
    box-shadow: 0 0 0 7px #91b6d2;
    margin-bottom: 50px;
    margin: 0 auto;
}

.service-item {
        width: 6.4em;
    height: 6.4em;
    border-radius: 50%;
    border: 8px solid #005495;
}

.service-text {
    margin-top: 20px;
}

.service-icon {
          margin: 17px;
}

.service-icon svg {
    font-size: 48px;
    color: gray;
 
}

.services-section {
    padding-top: 40px;
}

.service-title h2 {
    width: 90%;
    margin: 12px 5%;
    line-height: 37px;
    font-family: Roboto-Black;
    font-size: 15px;
    height: 39px;
    color: #005495;
}

.service-description p {
    text-align: center;
}

.kcorp-products p {
    text-align: center;
    color: #105f9c;
    font-size: 23px;
}

.product-img img {
    width: 100%;
    height:300px;
}

.product-title h2 {
    margin-top: 10px;
    text-align: center;

}

.product-types ul {
    text-align: center;
    list-style-type: none;
}

.product-item {
    filter: grayscale(1);
}


.product-item:hover {
    filter: none;
}
.kcrop-products-header
{
    margin-top: 20px;
}

.kcrop-products-header h2,
p {
    text-align: center;
}

.kcorp-aniversary {
    height: 700px;
    background-image: url("../image/50-Years.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact-form {
    background-color: #105f9c;
    padding: 50px;
}

.form-text {
    color: white;
}

#message {
    width: 70%;
    display: inline-block;
}
.btns
{
    padding: 10px;
    margin: 25px;
    border-radius: 10px;
    background-color: #2f3240;
    color: white;
    border: 1px solid #2f3240;
    width: 100px;
}


.form-control {
    display: inline-block;
}

.sector-service {
    color: #f1f1f1;
    margin-top: 50px;
}

.sector-service-header h2,p {
    color: #58595b;
    text-align: center;
    width: 93%;
}

.industrial {
    padding-left: 70px;
    padding-top: 32px;
}

.card
{
    width: 19rem;
}
.industrial-content h4 {
    text-align: center;
}

.industrial-item {
    margin-bottom: 90px;
}

.insdstrial-circle img
{
    margin: 0 auto;
     width: 13em;
    height: 13em;
    border-radius: 50%;
}
.industrial-content {
    margin-top: 10px;
    filter: grayscale(1);
}

.industrial-content p {
    color: #105f9c;
    text-align:center;
}
.industrial-content  a
{
   padding: 10px;
     margin: 25px 43px;
    width: 121px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #005495;
    background-color: #005495;
    color: white;   
}

.product-btn
{
    width: 64%;
}
                               
.product-btn a {
    padding: 10px;
   float: right;
    border-radius: 10px;
    background-color: #005495;
    color: white;
}
.industrial-content:hover {
    filter: none;
}

.counter {
    height: 100%;
    background-color: #939393;

}

.counter-icon {
    padding: 30px;
        text-align: center;

}

.counter-icon i {
    color: #fff;
    font-size: 35px;
}

.counter-item h2 {
    color: #fff;
}

.counter-item:hover {
    background-color: #105f9c;
    height: 300px;
}
.counter-icon svg
{
    color: #fff;
    font-size: 45px;
}
.service-texts h2 {
    position: absolute;
    width: 99%;
    height: 100%;
    top: 80px;
    color: #fff;
    font-size: 55px;
    width: 50%;
    left: 50px;
}

.bottom-border {
    border-top: 1px solid #fff;
    width: 50%;
    height: 20px;
}

.counter-number h2 {
    color: #fff;
}

.counter-des p {
    text-align: center;
    color: #fff;
}

.customer-reviews {
    background-image: url("../image/coustomer-reviews.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.customer-reviews-header {
    padding-top: 30px;
}

.customer-reviews-header h2 {
    text-align: center;
}

.customer-reviews-items {

    padding-bottom: 50px;
}

.card {
    margin-bottom: 20px;
}
.card img
{
    width: 100%;
}
.card a {
    padding: 4px;
    border-radius: 10px;
    background-color: #005495;
    color: white;
    border: 1px solid #005495;
    width: 122px;
    text-align: center;
    position: relative;
    bottom: 25px;
    left: 88px;
}

.card-title {
    text-align: center;
}

.service {
    position: relative;
}

.service img {
    width: 100%;
    height: auto;
}
.service-btn {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 280px;
    left: 50px;
}

.news-events {
    background-image: url("../image/NEWS&EVENTS-bg.png");
    background-size: 100% 100%;

    padding-bottom: 50px;
    background-repeat: no-repeat;

}

.news-events-section {
    padding-top: 100px;
}

.news-events-section h2 {
    text-align: center;
}

.event-images {
    margin-top: 50px;    
}
.event-image
{
    padding-left: 20px;
}

.row {
    width: 100%;
}

.event-image img {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}



.news-box {
    padding: 10px;
    margin-top: 50px;
    width: 90%;
}

.news-box h2 {
    color: #105f9c;
}

.news-box p {
    margin: 25px;
    text-align: left;
}

.map {
    margin-left: 50px;
}

.footer {
    background-position: center center;
    background-image: url("../image/footer-bg02.png");
    background-size: 100% 100%;
    width: 100%;
    background-color: #0000ff96;
    background-repeat: no-repeat;

}
#block-contactus-2 ul
{
    list-style-type: none
}
#block-contactus-2 ul li
{
    display: inline-block;
    padding: 10px;
} 
#block-contactus-2 ul li svg
{
    color: gray;
}

.footer-contact h2
{
    font-size: 26px;
}

.footer-contact {
    color: #fff;
}

.footer-contact h4 {
    text-align: center;
}

.footer-contact p {
    color: #fff;
}

.footer-links h2 {
    color: #fff;
}

.footer-links ul {
    list-style-type: none;
padding:0;
}

.footer-links i {
    padding-right: 20px;
}

.footer-links ul li {
    margin: 10px;
}
.footer-links ul li a
{
        text-decoration: none;
    color: #fff;
}

.social-media i {
    background-color: #074663;
    color: #fff;
}

.contact {
    color: #fff;
}

.contact ul {
    list-style: none;
}
.contact ul li a
{
    pointer-events: none;
    color: #fff;
    cursor: none;
    text-decoration: none;
    font-size: 11px;
    
}


.blue-background {
    opacity: 0.9;
    height: 100%;
    filter: alpha(opacity=50);
    background-color: #004a6b;
    padding-top: 80px;
}

.contact ul li {
    margin: 12px;
}

.contact i {
    padding-right: 20px;
}

.copyrght {
    background-color: gray;
}
#main-content {
    padding-top: 0;
    display: inline-block;
    width: 100%;
    background: #f7f7f7;
    margin-top: 0;
    line-height: 25px;
    padding: 20px 0;
}

#block-kcorp-page-title {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 10px;
    line-height: 55px;
    background: #f7f7f7;
    padding: 5px 10px;
}
#content {
    background: #fff;
    margin: 10px 0;
    padding: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}

.info-container {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}
.info-container-img {
    display: inline-block;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 4px solid #f2f2f3;
    padding: 2px;
}
.info-container:hover .info-container-img {
    border: 4px solid #fff;
    padding: 2px;
    box-shadow: -4px 6px 36px 0px rgba(0,0,0,0.75);
}
#sidebar h2
{
    text-align: center;
}
.info-container:hover
{
    color: #005495;
}
info-container-data-text {
    display: inline-block;
    width: 70%;
    min-height: 30px;
    text-align: center;
    margin: 0px 15%;
    max-height: 75px;
}
.service-container-img img {
    display: inline-block;
    width: 200px;
    height: 200px;
    top: 20px;
    right: 44px;
    position: relative;
    border-radius: 50%;
    padding: 25px;
}

.service-container
    {
        display: inline-block;
        width: 100%;
        height: auto;
        text-align: center;
            padding: 20px 15px;
    }
.service-container-img
{
 
   display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-image: url(../image/Untitled-4.png);
    border-radius: 50%;
    padding: 25px;
    background-size: cover;
    transition: transform 3s ease-in-out;
}
.views-element-container .views-field-field-image .content-feaild {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.content-feaild img
{
    width: 100%;
    height: 200px;
}
.content-title span
{
   display: inline-block;
    width: 100%;
    height: 73px;
    overflow: hidden;
    background: #002e6c;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 19px; 
}
.content-title span p
{
    color: #fff;
}
    
    .service-container-img img
    {
        left: 4px;
    position: relative;
        display: inline-block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        padding: 25px;
    }
#block-webform
{
    padding: 10px;
}
.product-content
{
        padding-top: 50px;
    text-align: center;
    width: 90%;
}
#block-webform-2
{
    padding-left: 20px;
    width: 70%;
}
.service-container-desc span
{
   display: inline-block;
    width: 90%;
    height: auto;
    margin: 2px 5%;
    border-bottom: 1px solid #cbcbcc;
    font-family: Roboto-Light;
    font-size: 14px;
    color: #58595b;
}
.know-btn a
{
    display: inline-block;
    font-family: Futura-bold;
    padding: 8px 21px;
    background-color: #005495;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #fff;
}
.form-text
{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-tel
{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-email
{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media only screen and (max-width: 640px) {
    
 .service-texts h2 {
    position: absolute;
    height: 100%;
    top: 5px;
    color: #fff;
    font-size: 16px;
    width: 50%;
    left: 50px;
}

   
.h2, h2 {
    font-size: 2rem;
}
    
    
}
.text
{
    color: #fff;
}
.form
{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
#sidebar
{
  background: #fff;
    margin: 10px 0;
    padding: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}
.textarea
{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media only screen and (max-width: 640px) {
   
.service-texts h2 {
    position: absolute;
    height: 100%;
    top: 5px;
    color: #fff;
    font-size: 16px;
    width: 50%;
    left: 50px;
}

    .slider-content p {
        font-size: 20px;
        color: #fff;
    }

    .slider-content {
        position: absolute;
        width: 100%;
        top: 83px;
        right: 0px;
        text-align: center;
        color: #fff;
    }

    .slider-content p {
        font-size: 10px;
        color: #fff;
    }
<<<<<<< HEAD
#block-mainnavigation ul li {
=======
    #block-mainnavigation ul li {
>>>>>>> fcf5c8b92a8e52105ddd5e490cb2f9abd28384ad
    margin-top: 40px;
    display: block;
    padding: 25px;
}
}

@media only screen and (max-width: 975px) {

    .service-text h2 {

        display: none;
    }
.service-texts h2 {
    position: absolute;
    height: 100%;
    top: 5px;
    color: #fff;
    font-size: 16px;
    width: 50%;
    left: 50px;
}
    .service-btn {
        display: none
    }

    .slider-text h2 {
        font-size: 20px;
        padding-top: 20px;
    }
}
#block-mainnavigation ul li {
    margin-top: 40px;
    display: block;
    padding: 25px;
}

.counter-number h2 {
    text-align: center;
}
